[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DidacticBoost"]
	path = DidacticBoost
	url = https://github.com/dashaub/didacticboost
[submodule "supervisedPRIM"]
	path = supervisedPRIM
	url = https://github.com/dashaub/supervisedprim
